<div class="row">
  <div class="col-md-12 text-center">
    <div class="title text-danger">404</div>
    <div class="title-details text-danger">Page or Resource Not Found</div>
    <div class="sub-title small-caps">
      umm, yeah…not sure what you're looking for, but it's not here anymore. <br>
      there's a good chance its location has changed, or it never existed.
    </div>
    <a (click)="goToHome()" type="button" class="text-info h4 small-caps">
      go to the dashboard
    </a>
    <br>
    <a (click)="goBackwards()" type="button" class="text-info h6 small-caps">
      go to previous page
    </a>
  </div>
</div>
